{% extends 'base.html' %}

{% block head %}
  <title>About</title>
{% endblock %}

{% block body %}
  <div class=container>
    <div class="jumbotron">
      <h1 class="text-uppercase">About us</h1>
      <p>
        We are a group of students at Purdue University.
        This was a group project for our Systems Programming Class in which we
        were tasked with writing a web application. The product is in front of you,
        MyMovieList, a way to organized your watched movies with a rating
        and review.
      </p>
    </div>
  </div>
{% endblock %}
