{% extends 'base.html' %}

{% block head %}
  <title>About</title>
{% endblock %}

{% block body %}
  <div class=container align="center">
    <div class="jumbotron text-left col-md-8">
      <h1 class="text-uppercase">About us</h1>
      <p>
        We are a group of students at Purdue University.
        This was a group project for our Systems Programming Class in which we
        were tasked with writing a web application. The product is in front of you,
        MyMovieList, a way to organize your watched movies by rating
        and reviewing them.
      </p>
    </div>
  </div>
{% endblock %}
