{%extends 'base.html'%}
{%block body%}
  <div class="container-fluid" align="center">
    <div class="jumbotron text-left col-md-8">
      {% load static %}
      <div class="text-center">
        <image src="{% static 'images/titlebanner.png' %}" align="center" height="60px"/>
      </div>
      <h2>Welcome</h2>
      <p>MyMovieList is a site dedicated to helping users keep track of, and score their favorite movies and films.</p>
      <h2>Getting Started</h2>
      <p>For new users make sure to 
        <a href="/account/register">
        register
        </a> an account before you start creating your Movie List.</p>
      <p>For returning users make sure to 
        <a href="/account/login/">
        sign in
        </a>
        to your account.</p>
      <p>Edit your infomation on your 
        
        {%if not request.user.is_authenticated %}
        <a href="/account/login">
          Profile
        </a>
        {%else%}
        <a href="/account/profile/?p={{request.user.username}}">
          Profile
        </a>
        {%endif%}
        
        page.</p>
      <p>Get started by seaching for a movie!</p>
      <h5 class="text-md-left">Top Films on MyMovieList</h5>
      <div class="container-fluid">
        <table class="table">
          <thread>
            <tr>
              <th scope = "col">Ranks</th>
              <th scope = "col">Poster</th>
              <th scope = "col">Title</th>
            </tr>
          </thread>
          <tbody>
            {%for movie in TopMovies%}
            <tr>
              <th scope="row">{{movie.rank}}</th>
              <td><img src = "{{movie.poster}}" height="120px"></td>
              <td><a href="/movies/?movie_id={{movie.id}}"><h6 class=text-md-left>{{movie.title}}</h6></a></td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
      <div class="container-fluid">
          <h5 class="text-md-left">Most Recent Reviews</h5>
          {%for review in RecentReviews%}
        <div class="container-fluid" style="border:1px solid #cecece;">
          <blockquote>
            <a href="/movies/?movie_id={{review.movie_id}}"><h6 class=text-md-left>{{review.movie_title}}</h6></a>
            <p>{{review.review}}<p>
            <footer><a href="/account/profile/?p={{review.user.username}}">{{review.user.first_name}} {{review.user.last_name}} {{review.rating}}/100</a></footer>
          </blockquote>
        </div>

        {% endfor %}
      </div>
  </div>

{%endblock%}
