{% extends 'base.html' %}
{% block head %}
  <title>MML:Register</title>
{% endblock %}
{% block body %}
  <div class="container-fluid">
    <h1 class="text-center text-uppercase">
      Register New User
    </h1>
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <p>
          {{ field.label_tag }}<br>
          {{field}}
          {% if field.help_text %}
            <small style="color: grey">
              {{field.help_text}}
            </small>
          {% endif %}
          {% for error in field.errors %}
          <p style="color: red">
            {{ error }}
          </p>
          {% endfor% }
        </p>
      {% endfor %}
        <button class="btn btn-outline-success" type="submit">Register</button>
    </form>
    <p></p>
    <p></p>
  </div>
{% endblock %}
