{% extends 'base.html' %}

{% block head %}
  <title>MML:Edit Review</title>
{% endblock %}
{% block body %}
  <div class="container">
    <div class="jumbotron">
      <h1> Edit your Review </h1>
      <p>Rating is on a scale of 0-100</p>
      <form method="post">
        {% csrf_token %}
        <input type="hidden" name=review_id value = "{{ id }}">
        {{form.as_ul}}
        <button type = "submit" class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}
