{% extends 'base.html' %}

{% block head %}
  <title>Movies</title>

  <style>
  .jumbotron{
      padding-top: 10px;
      margin-top: 0px;
      margin-bottom: 10px;
  }

  .lead{
      font-size: 14pt
  }

  </style>
{% endblock %}

{% block body %}
  <div class="container p-3">
    <div class="jumbotron">
      <b><h1 class="text-md-left" style="font-size: 40pt;">{{ title }}</h1></b>
      <div class="container-fluid">
        <div class="row" style="padding-top: 10px;">
          <div class="col-md-4 text-center">
              <img class="img-responsive" src="{{ poster }}" height="300px" width="auto">
          </div>

          <div class="col-md-8 text-center">
            <iframe height="300" width="420" src="{{ trailer }}">
            </iframe>
          </div>
        </div>
        
        <div class="row" style="padding-top: 10px;">
            <div class="col-md-12 lead">
                <u><h4 class"text-md-left"> Summary </h4></u>
                <p>
                    {{ overview }}
                </p>
            </div>
        </div>


        <div class="row">

          <div class="col-md-4">
            <u><h5 class="text-md-left"> Director </h5></u>
            <p>
              {{ director }}
            </p>
            <u><h5 class="text-md-left"> Release Date </h5></u>
            <p>
              {{ release_date }}
            </p>
          </div>

          <div class="col-md-4">
            <u><h5 class="text-md-left"> Companies </h5></u>

              {% for company in companies %}
                <p>
                  {{company.name}}, {{company.origin_country}}
                </p>
              {% endfor %}
          </div>

          <div class="col-md-4">
            <u><h5 class="text-md-left text-underline"> Genres </h5></u>
            {% for genre in genres %}
              <p>
                {{genre.name}}
              </p>
            {% endfor %}
          </div>

        </div>
      </div>
    </div>
    <div class="jumbotron">
      <h5>Reviews</h5>
        <p>
          Eventually we'll have stuff here 👍
        </p>
    </div>

  </div>
{% endblock %}
