<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <link rel="icon" href="{% static 'images/favicon.ico'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    {% block head %}
    <title>MML</title>
    {% endblock %}
  </head>
  <body>
    <div class="container-fluid" style="background-color: #4f42ff;">
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #4f42ff;">
        <a class="navbar-brand" href="/">
            {% load static %}
            <image src="{% static 'images/titlebanner.png' %}" height=40/>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        </a>
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/account/login/">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/account/logout/">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/account/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/account/profile">Profile</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="container-fluid" style="background-color: #4339d4;">
      <nav class="navbar navbar-light" style="background-color: #4339d4;">
        <form class="form-inline" method="GET" action="{% url 'search_url' %}">
          <input type="text" class ="form-control" name="search_box" placeholder="Movie Search" />
          <button class="btn btn-outline-success" type="submit">Search</button>
      </nav>
    </div>
    {% block body %}
    {% endblock %}
    <footer class="page-footer fixed-bottom font-small blue pt-2 mt-4" style="background-color: #6e6e6e;">
      <div class="container-fluid text-center text-md-left">
        <div class="row">
          <div class="col-md-6">
            <img src="https://www.themoviedb.org/static_cache/v4/logos/primary-green-d70eebe18a5eb5b166d5c1ef0796715b8d1a2cbc698f96d311d62f894ae87085.svg" height="40" weight="55" alt="Movie DB">
            <h6 style="font-size: 8pt; ">This product uses the TMBd API but is not endorsed or certified by TMDb.</h6>
          </div>
          <div class="col-md-6">
            <h5 class="text-uppercase" style="font-size: 10pt; ">Links</h5>
            <ul class="list-unstyled" style="font-size: 8pt; ">
              <li>
                <a href="/about">About</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright py-3 text-center margin-sm" style="background-color: #585858">
        <h6 style="font-size: 8pt; ">© 2018 Copyright: David Carr, Reid Kippenbrock, Daniel Macke</h6>
      </div>
    </footer>
  </body>
</html>
